@{
    ViewData["Title"] = "Admin";
}

<div class="container mt-4">
    <h1>Administration</h1>

    <div class="card">
        <div class="card-body">
            <h5>Environment Information</h5>

            <ul>
                <li>Environment: Development</li>
                <li>Application: LearnerOps LMS</li>
                <li>Version: 1.0</li>
            </ul>
        </div>
    </div>
</div>